body {
    font-family: 'Segoe UI', sans-serif;
    background: #449342;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 85%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Anton',sans-serif;
    font-size: 60px
    letter-spacing: 3px;
    text-transform: uppercase;
}

.card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 6px;
    background: #667eea;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #5563c1;
}

.logout {
    background: #e63946;
}

ul {
    margin-top: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
    
   
 
